@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
  }
  @-moz-keyframes fadein { /* Firefox */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
  }
  @-o-keyframes fadein { /* Opera */
	from {
		opacity:0;
	}
	to {
		opacity: 1;
	}
  }
  
  ::-webkit-scrollbar {
	background: #bbb;
	width: 8px;
	height: 0px;
	cursor: n-resize;
  }
  ::-webkit-scrollbar-thumb {
		background: #000;
	cursor: n-resize;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 1);
	cursor: n-resize;
  }
 
body {
  background-color: #ddd;
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#navbarScroll{
align-content: end;
justify-content: flex-end;
}

.main{
  width: 100%;
  display: flex;
  min-height: 90vh;
  background: #ddd !important;  /* fallback for old browsers */
  
}

.content{
  align-self: center;
  margin: 0 auto;
  max-width: 800px;
  z-index: 9;
}

.bg-light{
  background: transparent !important;
}

.nav-link{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color:#000;
padding: 0;
}

.nav-item a{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  padding: 0.7rem;
}
.content h1{
font-family: 'Poppins', sans-serif;
font-weight: 900;
font-size: 48px;
color:#000;
}
/*fundo main*/
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(26, 47, 167, 0.4);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}


.col-content{
  justify-content: space-between;
  align-self: center;
}


/*buttons*/


button.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent !important;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

.col-flex{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}


.content-parallax{
  padding: 100px 0;
  position: relative;
  z-index: 9;
}

.content-parallax p{
  max-width: 60%;
  font-size: 20px;
  margin: 20px 0;
}

h1{
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.navbar{
  z-index: 9;
}
h1, p, span, body{
  font-family: 'Poppins', sans-serif;
}
ul{
  margin-bottom: 0px !important;
  padding-left: 0px !important;
}

.react-parallax-content:hover::before{
  background-color: transparent;
}
.react-parallax-content:before {
  content: '1';
  color: transparent;
  background: rgba(255,255,255,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
}

.titulo2{
  margin: 20px 0;
}
footer{
  margin-top: 30px;
  z-index: 9999;
  position: relative;
  width: 100%;
  float: left;
}
footer .Waves_svg__waves{
  position: absolute;
  bottom: 120px;
}

footer .container {
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  z-index: 9999;
  position: relative;
}

footer a{
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

footer ul{
  list-style: none;
}


.footer{
  width: 100%;
  float:left;
  z-index: 999;
}

.footer{
  padding: 20px 0;
}

footer li{
  border: 0px;
}
.titulo{
  font-weight: bold;
  color: #000;
  margin-bottom: 50px !important;
}
.titulo svg{
width: 32px;
}

.list-contato{
  text-align: center;
  padding: 30px 2   5px;
}

.list-contato h5{
  font-weight: bold;
}

.list-contato svg{
  max-width: 100px;
  height: 100px;
  background: #000;
  color: #fff;
  border-radius: 100px;
  padding: 20px;
  
}


.pagina-contato{
  min-height: 70vh;
  float: left;
  width: 100%;
}


.whatsapp{
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.sub-menu{
  margin-top: 0px;
  float: right;
  text-align: right;
}
#work .titulo2 h1 {
  float: left;
}
.sub-menu button{
  background: transparent;
  border: 0px;
  font-weight: 500;
  padding: 15px auto !important;
  font-size: 18px;
  margin: 10px 15px;
  box-shadow: none;
}
#work li{
  border: 0px;
}
.sub-menu ul{
  display: flex;
  list-style-type: none;
}

#work, .work{
  width: 100%;
  float: left;
}

@media(max-width: 768px){
  .navbar-nav.navbar-nav-scroll {
    max-height: initial !important;
    justify-content: flex-start !important;
  }

  .yui-gc div.first, .yui-gd .yui-u {
  width: 100%!important;
  margin-left: 0;
  }

  .yui-gb .yui-u, .yui-g .yui-gb .yui-u, .yui-gb .yui-g, .yui-gb .yui-gb, .yui-gb .yui-gc, .yui-gb .yui-gd, .yui-gb .yui-ge, .yui-gb .yui-gf, .yui-gc .yui-u, .yui-gc .yui-g, .yui-gd .yui-u {
    width: 100% !important;
    margin-left:0;
  }
  .yui-gf div.first {
    width: 100% !important;
  }
  .yui-gf .yui-u {
    width: 100% !important;
  }
  .talent {
    width: 100% !important;
    float: left;
    padding: 10px 0 !important;
}
.content-cv{
  text-align:center;
  margin: 30px auto !important;
}
.job h4 {
  position: relative !important;
  top: 0 !important;
  right: auto !important;
}
#hd h1 {
  font-size: 33px !important;
}
p.enlarge {
  padding: 20px 0;
  padding-right: 0px !important;
}

p{
  padding-right: 0 !important;
}
.navbar-toggler:focus{
  box-shadow: none !important;
  background: #eee;
  color: #fff !important;
}
footer{
  padding: 30px auto;
}
.navbar-nav .nav-item{
    padding: 5px 0 !important;
    text-align: center;
    font-size: 19px;
  }
  .navbar-nav .nav-item.phone{
  display: none;
  }
  .sub-menu ul{
    flex-direction: column;
  }
  .content-parallax{
    padding: 60px 40px;
  }
  button.learn-more{
    margin:20px auto;
  }
  .col-content{
    text-align: center;
  }
  .content h1{
  font-size: 35px;
  text-align:center;
  margin-bottom: 0px !important;
  margin-top: 50px;
  }
  .list-contato{
    margin:20px auto;
  }

  footer img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.content img {
  max-width: 100%;
  height: auto;
}
  span.navbar-brand {
    margin-right: 0

}
  button.navbar-toggler {
    border: 0;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.navbar-brand img {
  max-width: 220px !important;
  height: auto !important;
}
}